:root {
  --palette-step-base-l: 96%;
  --palette-step-0-l: var(--palette-step-base-l);
  --palette-step-1-l: calc(var(--palette-step-base-l) - 10%);
  --palette-step-2-l: calc(var(--palette-step-base-l) - 20%);
  --palette-step-3-l: calc(var(--palette-step-base-l) - 30%);
  --palette-step-4-l: calc(var(--palette-step-base-l) - 40%);
  --palette-step-5-l: calc(var(--palette-step-base-l) - 50%);
  --palette-step-6-l: calc(var(--palette-step-base-l) - 60%);
  --palette-step-7-l: calc(var(--palette-step-base-l) - 70%);
  --palette-step-8-l: calc(var(--palette-step-base-l) - 80%);
  --palette-step-9-l: calc(var(--palette-step-base-l) - 90%);

  --palette-main-c: 0.015;
  --palette-main-h: 250;
  --palette-primary-c: 0.21;
  --palette-primary-h: 260;
  --palette-error-c: 0.2;
  --palette-error-h: 25;
  --palette-info-c: 0.18;
  --palette-info-h: 235;
  --palette-success-c: 0.17;
  --palette-success-h: 150;
  --palette-attention-c: 0.18;
  --palette-attention-h: 45;
  --palette-warning-c: 0.16;
  --palette-warning-h: 95;
  --palette-secondary-c: var(--palette-main-c);
  --palette-secondary-h: var(--palette-main-h);

  --palette-main-0: oklch(var(--palette-step-0-l) var(--palette-main-c) var(--palette-main-h));
  --palette-main-1: oklch(var(--palette-step-1-l) var(--palette-main-c) var(--palette-main-h));
  --palette-main-2: oklch(var(--palette-step-2-l) var(--palette-main-c) var(--palette-main-h));
  --palette-main-3: oklch(var(--palette-step-3-l) var(--palette-main-c) var(--palette-main-h));
  --palette-main-4: oklch(var(--palette-step-4-l) var(--palette-main-c) var(--palette-main-h));
  --palette-main-5: oklch(var(--palette-step-5-l) var(--palette-main-c) var(--palette-main-h));
  --palette-main-6: oklch(var(--palette-step-6-l) var(--palette-main-c) var(--palette-main-h));
  --palette-main-7: oklch(var(--palette-step-7-l) var(--palette-main-c) var(--palette-main-h));
  --palette-main-8: oklch(var(--palette-step-8-l) var(--palette-main-c) var(--palette-main-h));
  --palette-main-9: oklch(var(--palette-step-9-l) var(--palette-main-c) var(--palette-main-h));

  --palette-primary-0: oklch(var(--palette-step-0-l) var(--palette-primary-c) var(--palette-primary-h));
  --palette-primary-1: oklch(var(--palette-step-1-l) var(--palette-primary-c) var(--palette-primary-h));
  --palette-primary-2: oklch(var(--palette-step-2-l) var(--palette-primary-c) var(--palette-primary-h));
  --palette-primary-3: oklch(var(--palette-step-3-l) var(--palette-primary-c) var(--palette-primary-h));
  --palette-primary-4: oklch(var(--palette-step-4-l) var(--palette-primary-c) var(--palette-primary-h));
  --palette-primary-5: oklch(var(--palette-step-5-l) var(--palette-primary-c) var(--palette-primary-h));
  --palette-primary-6: oklch(var(--palette-step-6-l) var(--palette-primary-c) var(--palette-primary-h));
  --palette-primary-7: oklch(var(--palette-step-7-l) var(--palette-primary-c) var(--palette-primary-h));
  --palette-primary-8: oklch(var(--palette-step-8-l) var(--palette-primary-c) var(--palette-primary-h));
  --palette-primary-9: oklch(var(--palette-step-9-l) var(--palette-primary-c) var(--palette-primary-h));

  --palette-error-0: oklch(var(--palette-step-0-l) var(--palette-error-c) var(--palette-error-h));
  --palette-error-1: oklch(var(--palette-step-1-l) var(--palette-error-c) var(--palette-error-h));
  --palette-error-2: oklch(var(--palette-step-2-l) var(--palette-error-c) var(--palette-error-h));
  --palette-error-3: oklch(var(--palette-step-3-l) var(--palette-error-c) var(--palette-error-h));
  --palette-error-4: oklch(var(--palette-step-4-l) var(--palette-error-c) var(--palette-error-h));
  --palette-error-5: oklch(var(--palette-step-5-l) var(--palette-error-c) var(--palette-error-h));
  --palette-error-6: oklch(var(--palette-step-6-l) var(--palette-error-c) var(--palette-error-h));
  --palette-error-7: oklch(var(--palette-step-7-l) var(--palette-error-c) var(--palette-error-h));
  --palette-error-8: oklch(var(--palette-step-8-l) var(--palette-error-c) var(--palette-error-h));
  --palette-error-9: oklch(var(--palette-step-9-l) var(--palette-error-c) var(--palette-error-h));

  --palette-info-0: oklch(var(--palette-step-0-l) var(--palette-info-c) var(--palette-info-h));
  --palette-info-1: oklch(var(--palette-step-1-l) var(--palette-info-c) var(--palette-info-h));
  --palette-info-2: oklch(var(--palette-step-2-l) var(--palette-info-c) var(--palette-info-h));
  --palette-info-3: oklch(var(--palette-step-3-l) var(--palette-info-c) var(--palette-info-h));
  --palette-info-4: oklch(var(--palette-step-4-l) var(--palette-info-c) var(--palette-info-h));
  --palette-info-5: oklch(var(--palette-step-5-l) var(--palette-info-c) var(--palette-info-h));
  --palette-info-6: oklch(var(--palette-step-6-l) var(--palette-info-c) var(--palette-info-h));
  --palette-info-7: oklch(var(--palette-step-7-l) var(--palette-info-c) var(--palette-info-h));
  --palette-info-8: oklch(var(--palette-step-8-l) var(--palette-info-c) var(--palette-info-h));
  --palette-info-9: oklch(var(--palette-step-9-l) var(--palette-info-c) var(--palette-info-h));

  --palette-success-0: oklch(var(--palette-step-0-l) var(--palette-success-c) var(--palette-success-h));
  --palette-success-1: oklch(var(--palette-step-1-l) var(--palette-success-c) var(--palette-success-h));
  --palette-success-2: oklch(var(--palette-step-2-l) var(--palette-success-c) var(--palette-success-h));
  --palette-success-3: oklch(var(--palette-step-3-l) var(--palette-success-c) var(--palette-success-h));
  --palette-success-4: oklch(var(--palette-step-4-l) var(--palette-success-c) var(--palette-success-h));
  --palette-success-5: oklch(var(--palette-step-5-l) var(--palette-success-c) var(--palette-success-h));
  --palette-success-6: oklch(var(--palette-step-6-l) var(--palette-success-c) var(--palette-success-h));
  --palette-success-7: oklch(var(--palette-step-7-l) var(--palette-success-c) var(--palette-success-h));
  --palette-success-8: oklch(var(--palette-step-8-l) var(--palette-success-c) var(--palette-success-h));
  --palette-success-9: oklch(var(--palette-step-9-l) var(--palette-success-c) var(--palette-success-h));

  --palette-attention-0: oklch(var(--palette-step-0-l) var(--palette-attention-c) var(--palette-attention-h));
  --palette-attention-1: oklch(var(--palette-step-1-l) var(--palette-attention-c) var(--palette-attention-h));
  --palette-attention-2: oklch(var(--palette-step-2-l) var(--palette-attention-c) var(--palette-attention-h));
  --palette-attention-3: oklch(var(--palette-step-3-l) var(--palette-attention-c) var(--palette-attention-h));
  --palette-attention-4: oklch(var(--palette-step-4-l) var(--palette-attention-c) var(--palette-attention-h));
  --palette-attention-5: oklch(var(--palette-step-5-l) var(--palette-attention-c) var(--palette-attention-h));
  --palette-attention-6: oklch(var(--palette-step-6-l) var(--palette-attention-c) var(--palette-attention-h));
  --palette-attention-7: oklch(var(--palette-step-7-l) var(--palette-attention-c) var(--palette-attention-h));
  --palette-attention-8: oklch(var(--palette-step-8-l) var(--palette-attention-c) var(--palette-attention-h));
  --palette-attention-9: oklch(var(--palette-step-9-l) var(--palette-attention-c) var(--palette-attention-h));

  --palette-warning-0: oklch(var(--palette-step-0-l) var(--palette-warning-c) var(--palette-warning-h));
  --palette-warning-1: oklch(var(--palette-step-1-l) var(--palette-warning-c) var(--palette-warning-h));
  --palette-warning-2: oklch(var(--palette-step-2-l) var(--palette-warning-c) var(--palette-warning-h));
  --palette-warning-3: oklch(var(--palette-step-3-l) var(--palette-warning-c) var(--palette-warning-h));
  --palette-warning-4: oklch(var(--palette-step-4-l) var(--palette-warning-c) var(--palette-warning-h));
  --palette-warning-5: oklch(var(--palette-step-5-l) var(--palette-warning-c) var(--palette-warning-h));
  --palette-warning-6: oklch(var(--palette-step-6-l) var(--palette-warning-c) var(--palette-warning-h));
  --palette-warning-7: oklch(var(--palette-step-7-l) var(--palette-warning-c) var(--palette-warning-h));
  --palette-warning-8: oklch(var(--palette-step-8-l) var(--palette-warning-c) var(--palette-warning-h));
  --palette-warning-9: oklch(var(--palette-step-9-l) var(--palette-warning-c) var(--palette-warning-h));

  --palette-secondary-0: oklch(var(--palette-step-0-l) var(--palette-secondary-c) var(--palette-secondary-h));
  --palette-secondary-1: oklch(var(--palette-step-1-l) var(--palette-secondary-c) var(--palette-secondary-h));
  --palette-secondary-2: oklch(var(--palette-step-2-l) var(--palette-secondary-c) var(--palette-secondary-h));
  --palette-secondary-3: oklch(var(--palette-step-3-l) var(--palette-secondary-c) var(--palette-secondary-h));
  --palette-secondary-4: oklch(var(--palette-step-4-l) var(--palette-secondary-c) var(--palette-secondary-h));
  --palette-secondary-5: oklch(var(--palette-step-5-l) var(--palette-secondary-c) var(--palette-secondary-h));
  --palette-secondary-6: oklch(var(--palette-step-6-l) var(--palette-secondary-c) var(--palette-secondary-h));
  --palette-secondary-7: oklch(var(--palette-step-7-l) var(--palette-secondary-c) var(--palette-secondary-h));
  --palette-secondary-8: oklch(var(--palette-step-8-l) var(--palette-secondary-c) var(--palette-secondary-h));
  --palette-secondary-9: oklch(var(--palette-step-9-l) var(--palette-secondary-c) var(--palette-secondary-h));

  --color-shadow-main: rgba(0, 0, 0, 0.2);
  --color-main: var(--palette-main-0);
  --color-primary: var(--palette-primary-4);
  --color-primary-foreground: var(--palette-primary-0);
  --color-secondary: var(--palette-secondary-7);
  --color-secondary-foreground: var(--palette-main-0);
  --color-error: var(--palette-error-4);
  --color-error-foreground: var(--palette-error-0);
  --color-success: var(--palette-success-4);
  --color-success-foreground: var(--palette-success-0);
  --color-warning: var(--palette-warning-2);
  --color-warning-foreground: var(--palette-main-7);
  --color-info: var(--palette-info-3);
  --color-info-foreground: var(--palette-info-0);
  --color-attention: var(--palette-attention-4);
  --color-attention-foreground: var(--palette-attention-0);
  --color-shadow-main-strong: rgba(0, 0, 0, 0.15);
  --color-shadow-main-subtle: rgba(0, 0, 0, 0.25);
  --color-bg-main: var(--palette-main-0);
  --color-bg-primary: var(--color-primary);
  --color-bg-secondary: var(--color-secondary);
  --color-bg-error: var(--color-error);
  --color-bg-success: var(--color-success);
  --color-bg-warning: var(--color-warning);
  --color-bg-info: var(--color-info);
  --color-bg-attention: var(--color-attention);
  --color-bg-main-subtle: var(--palette-main-1);
  --color-bg-main-subtle-alt: var(--palette-main-2);
  --color-bg-main-strong: #ffffff;
  --color-bg-primary-strong: var(--palette-primary-0);
  --color-bg-primary-subtle: var(--palette-primary-7);
  --color-bg-primary-transparent: color-mix(in srgb, var(--color-primary) 5%, transparent);
  --color-bg-secondary-subtle: var(--palette-secondary-0);
  --color-bg-error-transparent: color-mix(in srgb, var(--color-error) 5%, transparent);
  --color-bg-success-transparent: color-mix(in srgb, var(--color-success) 5%, transparent);
  --color-bg-warning-transparent: color-mix(in srgb, var(--color-warning) 5%, transparent);
  --color-text-main: var(--palette-main-7);
  --color-text-description: var(--palette-main-5);
  --color-text-placeholder: var(--palette-main-3);
  --color-text-subtle: var(--palette-main-3);
  --color-text-primary: var(--color-primary);
  --color-text-secondary: var(--color-secondary);
  --color-text-error: var(--color-error);
  --color-text-success: var(--color-success);
  --color-text-warning: var(--color-warning);
  --color-text-info: var(--color-info);
  --color-text-attention: var(--color-attention);
  --color-text-success-strong: var(--palette-success-2);
  --color-text-info-strong: var(--palette-info-1);
  --color-text-on-color: var(--palette-main-0);
  --color-text-on-primary: var(--palette-primary-0);
  --color-text-on-secondary: var(--palette-main-0);
  --color-text-on-error: var(--palette-error-0);
  --color-text-on-success: var(--palette-success-0);
  --color-text-on-warning: var(--palette-main-0);
  --color-text-on-info: var(--palette-info-0);
  --color-text-on-attention: var(--palette-attention-0);
  --color-border-main: var(--palette-main-2);
  --color-border-main-strong: #ffffff;
  --color-border-primary: var(--color-primary);
  --color-border-secondary: var(--color-secondary);
  --color-border-error: var(--color-error);
  --color-border-success: var(--color-success);
  --color-border-warning: var(--color-warning);
  --color-border-info: var(--color-info);
  --color-border-attention: var(--color-attention);
  --color-border-main-subtle: var(--palette-main-3);
  --color-border-main-strong-alt: var(--palette-main-1);
  --AutoSuggest-loader-min-height: 4rem;
  --AutoSuggest-content-radius: var(--radius-md);
  --AutoSuggest-item-bg: color-mix(in srgb, var(--color-foreground) 5%, transparent);
  --AutoSuggest-attachment-bg: var(--color-popover);
  --AutoSuggest-attachment-radius: var(--radius-md);
  --AutoSuggest-attachment-shadow: var(--shadow-md);
  --Carousel-arrow-bg: color-mix(in srgb, var(--color-foreground) 10%, transparent);
  --Carousel-arrow-radius: var(--radius-md);
  --Carousel-arrow-padding: 0.25rem;
  --Carousel-arrow-offset: 1.5rem;
  --Carousel-dots-margin-y: 1rem;
  --Carousel-dot-size: 0.5rem;
  --Carousel-dot-gap: 0.2rem;
  --Carousel-dot-radius: 9999px;
  --Carousel-dot-bg: var(--color-muted);
  --Carousel-dot-active-bg: var(--color-primary);
  --ColorPicker-button-border-color: var(--color-border);
  --ColorPicker-button-border-width: 1px;
  --ColorPicker-picker-height: 25rem;
  --Checkbox-readonly-font-size: 1rem;
  --Checkbox-readonly-line-height: 1rem;
  --Checkbox-readonly-font-weight: var(--font-weight-black);
  --Checkbox-size: 1rem;
  --Checkbox-border-width: 2px;
  --Checkbox-border-color: var(--color-border);
  --Checkbox-radius: var(--radius-xs);
  --Checkbox-checked-bg: var(--color-primary);
  --Checkbox-checked-border-color: var(--color-primary);
  --Checkbox-checked-icon-color: var(--color-primary-foreground);
  --Checkbox-error-border-color: var(--color-destructive);
  --Checkbox-switch-width: 1.5rem;
  --Checkbox-switch-height: 1rem;
  --Checkbox-switch-radius: 9999px;
  --Checkbox-switch-bg: var(--color-muted-foreground);
  --Checkbox-switch-bg-error: var(--color-destructive);
  --Checkbox-switch-bg-checked: var(--color-primary);
  --Checkbox-switch-circle-size: 10px;
  --Checkbox-switch-circle-bg: var(--color-background);
  --Checkbox-switch-circle-bg-checked: var(--color-primary-foreground);
  --Checkbox-switch-circle-radius: 9999px;
  --Checkbox-switch-circle-shadow: var(--shadow-xs);
  --Radio-option-row-gap: 1rem;
  --Radio-input-padding-y: 0.5rem;
  --Radio-size: 1rem;
  --Radio-border-width: 2px;
  --Radio-border-color: var(--color-border);
  --Radio-radius: 9999px;
  --Radio-checked-border-color: var(--color-primary);
  --Radio-error-border-color: var(--color-destructive);
  --Radio-circle-size: 0.5rem;
  --Radio-circle-radius: 9999px;
  --Radio-circle-bg: var(--color-primary);
  --Radio-circle-bg-error: var(--color-destructive);
  --Radio-label-gap: 0.5rem;
  --Radio-description-font-size: var(--text-xs);
  --Radio-description-line-height: 1rem;
  --Radio-description-color: var(--color-muted-foreground);
  --Div-hoverBg: color-mix(in srgb, var(--palette-main-9) 5%, transparent);
  --Div-activeBg: color-mix(in srgb, var(--palette-main-9) 20%, transparent);
  --Div-tooltipBg: var(--palette-main-7);
  --Div-tooltipText: var(--palette-main-0);
  --Modal-overlayBg: color-mix(in srgb, var(--palette-main-7) 25%, transparent);
  --InputWrapper-label-color: var(--color-foreground);
  --InputWrapper-focused-color: var(--color-primary);
  --InputWrapper-error-color: var(--color-error);
  --InputWrapper-label-font-size: var(--text-sm);
  --InputWrapper-label-line-height: 1.25rem;
  --InputWrapper-description-font-size: var(--text-xs);
  --InputWrapper-description-line-height: 1rem;
  --InputWrapper-label-gap: calc(var(--spacing) * 1);
  --InputWrapper-label-gap-inline: calc(var(--spacing) * 2);
  --InputWrapper-description-gap: calc(var(--spacing) * 2);
  --InputWrapper-error-margin-top: calc(var(--spacing) * 2);
  --InputWrapper-error-margin-bottom: calc(var(--spacing) * 1);
  --InputWrapper-error-text-gap: calc(var(--spacing) * 1);
  --InputWrapper-column-gap: calc(var(--spacing) * 3);
  --Range-container-height: 5rem;
  --Range-track-height: 0.5rem;
  --Range-track-bg: var(--color-muted);
  --Range-track-radius: 9999px;
  --Range-selected-bg: var(--color-primary);
  --Range-marker-top: 4px;
  --Range-marker-size: 1rem;
  --Range-marker-radius: 9999px;
  --Range-marker-shadow: var(--shadow-xs);
  --Range-step-label-font-size: var(--text-xs);
  --Range-step-label-line-height: 1rem;
  --Range-step-label-color: var(--color-foreground);
  --Range-step-marker-width: 2px;
  --Range-step-marker-bg: var(--color-primary-foreground);
  --Range-label-top: 2px;
  --Range-label-width: 6rem;
  --Range-label-bg: var(--color-foreground);
  --Range-label-color: var(--color-background);
  --Range-label-padding-y: 0.25rem;
  --Range-label-padding-x: 0.5rem;
  --Range-label-font-size: var(--text-xs);
  --Range-label-line-height: 1rem;
  --Range-label-shadow: var(--shadow-md);
  --Range-label-radius: var(--radius-md);
  --Range-label-arrow-size: 4px;
  --TextInput-text-color: var(--palette-main-7);

  --Span-color: var(--color-foreground);
  --Span-description-color: var(--color-muted-foreground);
  --Span-font-family: var(--font-sans);
  --Span-heading-font-family: var(--font-sans);
  --Span-font-size: var(--text-sm);
  --Span-line-height: 1.25rem;
  --Span-font-weight: var(--font-weight-normal);
  --Span-font-weight-bold: var(--font-weight-semibold);
  --Span-heading-font-weight: var(--font-weight-normal);
  --Span-heading-font-weight-bold: var(--font-weight-semibold);
  --Span-h1-font-size: var(--text-7xl);
  --Span-h1-line-height: 6rem;
  --Span-h2-font-size: var(--text-5xl);
  --Span-h2-line-height: 4rem;
  --Span-h3-font-size: var(--text-4xl);
  --Span-h3-line-height: 3rem;
  --Span-h4-font-size: var(--text-2xl);
  --Span-h4-line-height: 2rem;
  --Span-h5-font-size: var(--text-xl);
  --Span-h5-line-height: 1.75rem;
  --Span-h6-font-size: var(--text-base);
  --Span-h6-line-height: 1.5rem;

  --Icon-color: var(--color-muted-foreground);
  --Icon-force-web-size: 0;

  --Div-radius: var(--radius-md);
  --Div-disabled-opacity: 0.5;
  --Div-hover-opacity: 0.8;
  --Div-active-opacity: 0.5;
  --Div-hover-bg: color-mix(in srgb, var(--color-foreground) 5%, transparent);
  --Div-active-bg: color-mix(in srgb, var(--color-foreground) 20%, transparent);
  --Div-pushed-s: calc(var(--spacing) * 2);
  --Div-pushed-m: calc(var(--spacing) * 4);
  --Div-pushed-l: calc(var(--spacing) * 6);
  --Div-bleed-x: calc(var(--spacing) * 4);
  --Div-tooltip-bg: var(--color-popover-foreground);
  --Div-tooltip-foreground: var(--color-popover);
  --Div-tooltip-radius: var(--radius-md);
  --Div-tooltip-shadow: var(--shadow-lg);
  --Div-shadow-1: var(--shadow-xs);
  --Div-shadow-2: var(--shadow-sm);
  --Div-shadow-3: var(--shadow-md);
  --Div-shadow-4: var(--shadow-lg);

  --AbstractPopover-z-index: 1000;
  --AbstractPopover-arrow-size: 0.5rem;

  --Popover-bg: var(--color-popover);
  --Popover-radius: var(--radius-md);
  --Popover-shadow: var(--shadow-md);

  --Br-line-height: 1rem;

  --Divider-line-height: 1rem;
  --Divider-height-m: 1px;
  --Divider-height-l: 2px;
  --Divider-bg: var(--color-border);

  --Sidebar-bg: var(--color-background);
  --DrawerSidebar-bg: var(--color-background);
  --Drawer-bg: var(--color-background);
  --Drawer-overlay-bg: color-mix(in srgb, var(--color-foreground) 50%, transparent);
  --Drawer-shadow: var(--shadow-sm);
  --Drawer-vertical-size: 80%;
  --Drawer-horizontal-size: 80%;
  --Drawer-bottom-height: 60%;
  --Drawer-bottom-radius: 1rem;

  --Draggable-placeholder-bg: var(--color-muted);
  --Draggable-placeholder-radius: var(--radius-sm);
  --Draggable-placeholder-min-height: 2rem;

  --Mdx-font-family: var(--font-sans);
  --Mdx-font-size: var(--text-base);
  --Mdx-line-height: 1.5rem;
  --Mdx-heading-font-family: var(--font-sans);
  --Mdx-heading-font-weight: var(--font-weight-semibold);
  --Mdx-block-margin-top: 1rem;
  --Mdx-h2-margin-top: 4rem;
  --Mdx-h3-margin-top: 3rem;
  --Mdx-anchor-link-margin-left: 0.5rem;
  --Mdx-divider-height: 0.25rem;
  --Mdx-divider-bg: var(--color-secondary);
  --Mdx-divider-margin-bottom: 0.75rem;
  --Mdx-list-index-width: 1.5rem;
  --Mdx-code-bg: var(--color-muted);
  --Mdx-code-border-width: 1px;
  --Mdx-code-border-color: var(--color-border);
  --Mdx-code-radius: var(--radius-md);
  --Mdx-example-bg: var(--color-muted);
  --Mdx-example-radius: 0.5rem;
  --Mdx-example-padding: 1rem;
  --Mdx-code-collapse-header-padding-top: 0.5rem;
  --Mdx-code-collapse-header-padding-bottom: 1rem;
  --Mdx-code-action-margin-left: 1rem;
  --Mdx-action-color: var(--color-muted-foreground);
  --MdxCode-padding: 1rem;
  --MdxCode-bg: var(--color-muted);
  --MdxCode-radius: var(--radius-lg);
  --MdxCode-line-min-height: 1.25rem;
  --MdxCode-font-family: var(--font-mono);

  --Select-modal-middle-height: 3rem;
  --Select-modal-middle-padding-right: 1rem;
  --Select-modal-middle-bg: var(--color-muted);
  --Select-modal-middle-border-width: 1px;
  --Select-modal-middle-border-color: var(--color-border);
  --Select-modal-bottom-bg: var(--color-secondary);
  --Select-done-color: var(--color-primary);
  --Select-done-font-family: var(--font-sans);
  --Select-done-font-weight: var(--font-weight-semibold);
  --Select-done-font-size: var(--text-base);
  --Select-done-line-height: 1.5rem;

  --Toast-max-width: 20rem;
  --Toast-min-width: 15rem;
  --Toast-screen-padding: 1rem;
  --Toast-padding: 1rem;
  --Toast-radius: var(--radius-sm);
  --Toast-bg: var(--color-background);
  --Toast-border-width: 4px;
  --Toast-shadow: var(--shadow-sm);
  --Toast-info-color: var(--color-primary);
  --Toast-error-color: var(--color-destructive);
  --Toast-warning-color: var(--color-warning);
  --Toast-success-color: var(--color-success);
  --Toast-text-gap: 0.5rem;
  --Toast-title-gap: 0.5rem;
  --Toast-actions-gap: 0.5rem;

  --MenuItem-active-border-size: 2px;

  --Rank-item-padding: 0.5rem;
  --Rank-item-gap: 0.5rem;
  --Rank-item-radius: var(--radius-md);
  --Rank-item-border-width: 1px;
  --Rank-item-bg: var(--color-background);
  --Rank-item-bg-disabled: var(--color-muted);
  --Rank-item-border-color: var(--color-border);
  --Rank-icon-disabled-color: var(--color-muted-foreground);
  --Rank-span-offset: 1.25rem;
  --Rank-right-offset: 2rem;
  --Rank-readonly-index-width: 1.25rem;
  --Rank-hint-font-size: var(--text-xs);
  --Rank-hint-line-height: 1rem;

  --Progress-width: 0.25rem;
  --Progress-duration: 300;
  --Progress-track-bg: var(--color-muted);
  --Progress-filler-bg: var(--color-success);
  --Progress-circular-size: 2.5rem;
  --Progress-label-margin-top: 2px;
  --Progress-label-font-size: var(--text-xs);
  --Progress-label-line-height: 1rem;

  --Breadcrumbs-current-color: var(--color-secondary);
  --Breadcrumbs-link-color: var(--color-muted-foreground);
  --Breadcrumbs-separator-color: var(--color-muted-foreground);
  --Breadcrumbs-icon-gap: calc(var(--spacing) * 1);
  --Breadcrumbs-icon-gap-large: calc(var(--spacing) * 2);
  --Breadcrumbs-separator-gap: 2px;
  --Breadcrumbs-font-size-xs: 0.625rem;
  --Breadcrumbs-line-height-xs: 0.875rem;
  --Breadcrumbs-font-size-s: var(--text-xs);
  --Breadcrumbs-line-height-s: 1rem;
  --Breadcrumbs-font-size-m: var(--text-sm);
  --Breadcrumbs-line-height-m: 1.25rem;
  --Breadcrumbs-font-size-l: var(--text-base);
  --Breadcrumbs-line-height-l: 1.5rem;
  --Breadcrumbs-font-size-xl: var(--text-xl);
  --Breadcrumbs-line-height-xl: 1.75rem;
  --Breadcrumbs-font-size-xxl: var(--text-2xl);
  --Breadcrumbs-line-height-xxl: 2rem;

  --Content-gutter: calc(var(--spacing) * 4);
  --Content-width-mobile: var(--breakpoint-sm);
  --Content-width-tablet: var(--breakpoint-md);
  --Content-width-desktop: var(--breakpoint-lg);
  --Content-width-wide: var(--breakpoint-xl);

  --Card-padding: 1rem;
  --Card-radius: var(--radius-md);
  --Card-bg: var(--color-background);
  --Card-outlined-bg: var(--color-background);
  --Card-border-width: 1px;
  --Card-border-color: var(--color-border);

  --Link-color: var(--color-secondary);
  --Link-primary-color: var(--color-primary);
  --Link-decoration-color: var(--Link-color);
  --Link-primary-decoration-color: var(--Link-primary-color);

  --Item-padding-y: 0.5rem;
  --Item-padding-x: 1rem;
  --Item-image-size: 2rem;
  --Item-image-radius: 9999px;
  --Item-part-gap: 0.5rem;

  --Layout-bg: var(--color-background);

  --Collapse-radius: var(--radius-md);
  --Collapse-header-padding: 1rem;
  --Collapse-header-icon-gap: 0.5rem;
  --Collapse-content-padding-x: 1rem;
  --Collapse-content-padding-bottom: 1rem;

  --Alert-padding-y: 0.5rem;
  --Alert-padding-x: 1rem;
  --Alert-border-width: 1px;
  --Alert-radius: var(--radius-md);
  --Alert-info-border-color: var(--color-border-primary);
  --Alert-info-bg: var(--color-bg-primary-transparent);
  --Alert-info-icon-color: var(--color-text-primary);
  --Alert-error-border-color: var(--color-border-error);
  --Alert-error-bg: var(--color-bg-error-transparent);
  --Alert-error-icon-color: var(--color-text-error);
  --Alert-warning-border-color: var(--color-border-warning);
  --Alert-warning-bg: var(--color-bg-warning-transparent);
  --Alert-warning-icon-color: var(--color-text-warning);
  --Alert-success-border-color: var(--color-border-success);
  --Alert-success-bg: var(--color-bg-success-transparent);
  --Alert-success-icon-color: var(--color-text-success);
  --Alert-content-indent: 0.75rem;
  --Alert-actions-gap: 1rem;

  --Avatar-size-s: 2rem;
  --Avatar-size-m: 2.5rem;
  --Avatar-size-l: 3rem;
  --Avatar-status-size-s: 0.625rem;
  --Avatar-status-size-m: 0.75rem;
  --Avatar-status-size-l: 0.875rem;
  --Avatar-fallback-size-s: 0.75rem;
  --Avatar-fallback-size-m: 0.875rem;
  --Avatar-fallback-size-l: 1rem;
  --Avatar-fallback-color: var(--color-primary-foreground);
  --Avatar-status-border-width: 2px;
  --Avatar-status-border-color: var(--color-background);
  --Avatar-status-radius: 9999px;
  --Avatar-status-offset: -0.125rem;
  --Avatar-status-online-bg: var(--color-success);
  --Avatar-status-away-bg: var(--color-warning);

  --Pagination-item-size: 2rem;
  --Pagination-item-padding-x: 0.5rem;
  --Pagination-page-selected-color: var(--color-primary);
  --Pagination-status-gap: 0.5rem;
  --Pagination-icon-color: var(--color-secondary);
  --Pagination-icon-disabled-color: var(--color-muted-foreground);

  --User-avatar-gap: 0.5rem;
  --User-name-font-size-m: var(--text-sm);
  --User-name-line-height-m: 1.25rem;
  --User-name-font-size-l: var(--text-base);
  --User-name-line-height-l: 1.5rem;
  --User-description-font-size-m: var(--text-xs);
  --User-description-line-height-m: 1rem;
  --User-description-font-size-l: var(--text-sm);
  --User-description-line-height-l: 1.25rem;

  --Rating-gap: 0.5rem;
  --Rating-star-color: var(--color-muted-foreground);
  --Rating-star-active-color: var(--color-warning);

  --Table-border-color: var(--color-border);
  --Table-border-width: 1px;
  --Table-cell-padding-y: 0.5rem;
  --Table-cell-padding-x: 1rem;

  --Modal-bg: var(--color-background);
  --Modal-overlay-bg: color-mix(in srgb, var(--color-foreground) 25%, transparent);
  --Modal-window-gutter: 1rem;
  --Modal-window-max-height: 90%;
  --Modal-window-max-width: 776px;
  --Modal-window-min-width: 280px;
  --Modal-radius: var(--radius-md);
  --Modal-shadow: var(--shadow-lg);
  --Modal-section-padding: 1rem;
  --Modal-action-gap: 0.5rem;
  --Modal-title-font-size: var(--text-xl);
  --Modal-title-line-height: 1.75rem;
  --Modal-title-font-weight: var(--font-weight-semibold);
  --Modal-title-font-family: var(--font-sans);
  --Modal-close-gap: 1rem;
  --Modal-icon-color: var(--color-muted-foreground);

  --TextInput-color: var(--color-foreground);
  --TextInput-caret-color: var(--TextInput-color);
  --TextInput-icon-color: var(--color-secondary);
  --TextInput-placeholder-color: var(--color-muted-foreground);
  --TextInput-bg: var(--color-background);
  --TextInput-bg-disabled: var(--color-muted);
  --TextInput-border-color: var(--color-border);
  --TextInput-border-color-focused: var(--color-primary);
  --TextInput-border-color-error: var(--color-error);
  --TextInput-border-width: 1px;
  --TextInput-radius: var(--radius-md);
  --TextInput-min-width: 4rem;
  --TextInput-padding-x: calc(var(--spacing) * 2);
  --TextInput-padding-y-s: calc(var(--spacing) * 1);
  --TextInput-padding-y-m: calc(var(--spacing) * 1.5);
  --TextInput-padding-y-l: calc(var(--spacing) * 2);
  --TextInput-height-s: 1rem;
  --TextInput-height-m: 1.25rem;
  --TextInput-height-l: 1.5rem;
  --TextInput-font-size-s: var(--text-sm);
  --TextInput-font-size-m: var(--text-sm);
  --TextInput-font-size-l: var(--text-base);
  --TextInput-line-height-s: initial;
  --TextInput-line-height-m: initial;
  --TextInput-line-height-l: initial;
  --TextInput-icon-padding-m: 2rem;
  --TextInput-icon-padding-l: 2.5rem;
  --TextInput-icon-offset: calc(var(--spacing) * 2);

  --NumberInput-button-border-color: var(--TextInput-border-color);
  --NumberInput-units-font-size-l: var(--text-base);
  --NumberInput-units-line-height-l: 1.5rem;
  --NumberInput-units-readonly-gap: 0.25rem;
  --NumberInput-units-gap: 0.5rem;
  --NumberInput-button-padding-l: 3rem;
  --NumberInput-button-padding-m: 2.5rem;
  --NumberInput-button-padding-s: 2rem;

  --ArrayInput-actions-width: 2rem;
  --ArrayInput-item-gap: 0.5rem;

  --ObjectInput-column-gap: 1rem;
  --ObjectInput-row-gap: 1rem;

  --Button-height-xs: 1rem;
  --Button-height-s: 1.5rem;
  --Button-height-m: 2rem;
  --Button-height-l: 2.5rem;
  --Button-height-xl: 3rem;
  --Button-height-xxl: 3.5rem;
  --Button-font-size-xs: var(--text-xs);
  --Button-font-size-s: var(--text-xs);
  --Button-font-size-m: var(--text-sm);
  --Button-font-size-l: var(--text-base);
  --Button-font-size-xl: var(--text-xl);
  --Button-font-size-xxl: var(--text-2xl);
  --Button-line-height-xs: 0.875rem;
  --Button-line-height-s: 1rem;
  --Button-line-height-m: 1.25rem;
  --Button-line-height-l: 1.5rem;
  --Button-line-height-xl: 1.75rem;
  --Button-line-height-xxl: 2rem;
  --Button-font-weight: var(--font-weight-medium);
  --Button-outlined-border-width: 1px;
  --Button-outlined-border-color: transparent;
  --Button-web-native-button: 1;
  --Button-disabled-opacity: 0.25;
  --Button-icon-margin-xs: calc(var(--spacing) * 1);
  --Button-icon-margin-s: calc(var(--spacing) * 1);
  --Button-icon-margin-m: calc(var(--spacing) * 2);
  --Button-icon-margin-l: calc(var(--spacing) * 2);
  --Button-icon-margin-xl: calc(var(--spacing) * 3);
  --Button-icon-margin-xxl: calc(var(--spacing) * 3);

  --Tag-height-s: 1.25rem;
  --Tag-height-m: 1.5rem;
  --Tag-padding-x-s: calc(var(--spacing) * 2);
  --Tag-padding-x-m: calc(var(--spacing) * 3);
  --Tag-font-size-s: var(--text-xs);
  --Tag-line-height-s: 1rem;
  --Tag-font-size-m: var(--text-sm);
  --Tag-line-height-m: 1.25rem;
  --Tag-font-weight: var(--font-weight-normal);
  --Tag-icon-inside-margin-s: calc(var(--spacing) * 1.5);
  --Tag-icon-inside-margin-m: calc(var(--spacing) * 2);
  --Tag-icon-outside-margin-s: calc(var(--spacing) * -0.5);
  --Tag-icon-outside-margin-m: calc(var(--spacing) * -1);
  --Tag-outlined-border-width: 1px;
  --Tag-disabled-opacity: 0.25;

  --Badge-size-s: 1rem;
  --Badge-size-m: 1.25rem;
  --Badge-size-l: 1.5rem;
  --Badge-size-dot: 0.5rem;
  --Badge-border-color: var(--color-background);
  --Badge-font-size-s: 0.625rem;
  --Badge-line-height-s: 0.75rem;
  --Badge-font-size-m: 0.75rem;
  --Badge-line-height-m: 1rem;
  --Badge-font-size-l: 1rem;
  --Badge-line-height-l: 1.25rem;
  --Badge-padding-x-s: calc(var(--spacing) * 1);
  --Badge-padding-x-m: calc(var(--spacing) * 1);
  --Badge-padding-x-l: calc(var(--spacing) * 2);
  --Badge-icon-gap: calc(var(--spacing) * 0.5);
}
